#banner {
    width: 100%;
    height: auto;
    border-radius: 10px;
    display: block;
    margin: 0 auto;
    background-color: #0b172f;
}

#open_editor_button {
    border-radius: 10px;
    display: flex;
    justify-content: center;
}
